.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.add-task-button{
  margin-bottom: 20px;
  background-color: black
}

.p-tag.p-tag-warning {
  background-color: #FFCA28 !important;
  color: #495057 !important;
}
