
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  font: var(--mat-sys-body-medium);
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.p-paginator .p-paginator-page-selected {
background: linear-gradient(to right, #c529da, #6823b5) !important;
color: #ffffff !important;
}

:root {
  --p-inputtext-focus-border-color: #c529da !important;
}

.p-dialog .p-dialog-content {
  height: 700px !important;
}

@import "primeicons/primeicons.css";

